* {
  box-sizing: border-box;
  margin-block: 0;
}
body {
  background: linear-gradient(
    to right,
    #dbdddf,
    #b5b7b8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.app-div {
  margin: 0 auto;
  width: 500px;
}

.app-div h1 {
  font-size: 50px;
}

.search-div {
  margin-top: 5px;
  display: flex;
}
.btn-custom {
  margin-left: 5px;
}

.add-contact-div {
  min-width: 500px;
}

.contact-list-div {
  height: auto;
}

.contact-display-div {
  border: 2px;
  margin-top: 5px;
  border-style: dashed;
  padding: 2px;
}
